{% extends "base.html" %}
{% block content %}
<h2>Sets Performed</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Workout ID</th>
            <th>Exercise</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Repetitions</th>
            <th>RPE</th>
            <th>RIR</th>
        </tr>
    </thead>
    <tbody>
        {% for set in sets %}
        <tr>
            <td>{{ set.id }}</td>
            <td>{{ set.workout_id }}</td>
            <td>{{ set.exercise_name }}</td>
            <td>{{ set.date }}</td>
            <td>{{ set.weight }}</td>
            <td>{{ set.repetitions }}</td>
            <td>{{ set.rpe or '-' }}</td>
            <td>{{ set.rir or '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}